.header {
  background-color: var(--dark);
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid var(--accent);
  padding: 8px 15px;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;

  &__head {
    display: flex;
    align-items: center;
  }

  &__title {
    margin-left: 10px;
    color: var(--light);
  }

  &__logo,
  &__menu {
    height: 50px;
    width: 50px;
  }
}