.error {
  height: calc(100vh - 178px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light);
  flex-direction: column;
  background-color: var(--dark);

  &__message {
    font-size: 3vw;
  }

  &__code {
    font-size: 4vw;
  }
}