<article class="lesson" [ngClass]="{'lesson--locked': lesson.status !== 'unlocked'}">
  <img class="lesson__locked" src="./assets/img/locked.svg" alt="locked" *ngIf="lesson.status === 'locked'; else video">
  <ng-template #video>
    <app-video
      class="lesson__video"
      [url]="lesson.link"
      [poster]="lesson.previewImageLink + '/cover'  + '.webp'"
    ></app-video>
  </ng-template>
  <div class="lesson__properties">
    <h2 class="lesson__title">№{{lesson.order}} {{lesson.title}}</h2>
    <div class="lesson__duration">Duration: {{lesson.duration | duration}}</div>
    <div class="lesson__status">Status lesson: {{lesson.status}}</div>
  </div>
</article>