<article class="lesson" [ngClass]="{'lesson--locked': lesson.status !== 'unlocked'}">
  <video controls class="lesson__video" [ngClass]="{'lesson__video--locked': lesson.status !== 'unlocked'}" [poster]="lesson.previewImageLink + '/' + lesson.order + '.webp'">
    <source src="lesson.link" type="application/x-mpegURL">
  </video>
  <div class="lesson__properties">
    <h2 class="lesson__title">№{{lesson.order}} {{lesson.title}}</h2>
    <div class="lesson__duration">Duration: {{lesson.duration | duration}}</div>
    <div class="lesson__status">Status lesson: {{lesson.status}}</div>
  </div>
</article>