<a [routerLink]="['/course', course.id]">
  <article class="card" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
    <img *ngIf="!hover; else video" [src]="course.previewImageLink + '/cover.webp'" alt="preview" class="card__img">
    <ng-template #video>
      <app-video-player
        class="card__video"
        [url]="course.meta.courseVideoPreview.link"
        [poster]="course.meta.courseVideoPreview.previewImageLink + '/cover.webp'"
        [currentTime]="0"
        [preview]="true"
        [straight]="'bottom'"
      ></app-video-player>
    </ng-template>
    <h2 class="card__title">{{course.title}}</h2>
    <div class="card__description">{{course.description}}</div>
    <div class="options">
      <div class="options__option">
        <div class="options__title options__title--lessons">Lessons: </div>
        <div class="options__content">{{course.lessonsCount}}</div>
      </div>
      <div class="options__option">
        <div class="options__title options__title--rating">Rating:</div>
        <div class="options__content">{{course.rating}}</div>
      </div>
    </div>
    <ul class="tags">
      <li class="tags__tag" *ngFor="let tag of course.tags">{{tag}}</li>
    </ul>
  </article>
</a>