<main class="main" *ngIf="courses$ | async as courses; else loading">
  <section class="list">
    <app-course-card class="list__card" *ngFor="let course of courses" [course]=course></app-course-card>
  </section>
  <nav class="pages">
    <a *ngFor="let page of availablePages" [routerLink]="['/courses/', page]">
      <div routerLinkActive="pages__page--active" class="pages__page">
        {{page}}
      </div>
    </a>
  </nav>
</main>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>