<div class="wrapper">
  <main class="main" *ngIf="course$ | async as course; else loading">
    <section class="about">
      <img [src]="course.previewImageLink + '/cover.webp'" alt="preview-image" class="about__image">
      <h2 class="about__title">{{course.title}}</h2>
      <div class="about__description">{{course.description}}</div>
      <div class="about__columns">
        <section class="column">
          <h2 class="column__title">Properties:</h2>
          <ul class="column__list">
            <li class="column__item">Launch date: {{course.launchDate | date:'MMM d, y'}}</li>
            <li class="column__item">Launch status: {{course.status}}</li>
            <li class="column__item">Duration course: {{course.duration}}</li>
            <li class="column__item">Rating course: {{course.rating}}</li>
          </ul>
        </section>
        <section class="column">
          <h2 class="column__title">Skills:</h2>
          <ul class="column__list">
            <li class="column__item" *ngFor="let skill of course.meta.skills">{{skill}}</li>
          </ul>
        </section>
      </div>
      <div class="about__preview-video">
        <app-video [url]="'https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.webm'"></app-video>
      </div>
      <div class="about__speed">
        To change the playback speed: click on video and press
        <div class="about__shortcut">num +</div>
        or <div class="about__shortcut">num -</div> .
        Current speed: <div class="about__shortcut">{{speed$ | async}}</div>
      </div>
    </section>
    <section class="lessons">
      <app-lesson-card class="lessons__card" *ngFor="let lesson of course.lessons" [lesson]="lesson"></app-lesson-card>
    </section>
  </main>
  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>
</div>