<div class="wrapper" (keydown)="onKeyDown($event)">
  <div>
    <app-video-player
      *ngIf="(currentVideoUrl$ | async)?.url == null; else placeholder"
      class="video"
      [url]="url"
      [currentTime]="url | startTime"
      [poster]="poster + '/cover.webp'">
    </app-video-player>
  </div>
  <button class="pic-in-pic" (click)="pictureInPicture()">
    <img class="pic-in-pic__img" src="../assets/img/picture-in-picture.svg" alt="picture-in-picture">
  </button>
  <ng-template #placeholder>
    <div class="placeholder"></div>
  </ng-template>
</div>